.tree-node {
  border: 1px solid grey;
  margin: 1em;
  padding: 0.5em;
}

.focused {
  border: 2px solid black;
}



.collapseButton {
  margin-right: 0.5em;
  /* to leave only triangle icon, uncomment:*/
  /* border: 0; */
  /* background: none; */
}
