.framed {
  margin: 1px;
  margin-left: 10px;
  border: 1px solid grey;
}

.treeNode {

  /* padding: 15px; */
  /* margin-top: 15px; */
}

.treeNodeHeader {
  padding: 15px;
}

.propName {
  color: grey;
  border: 0px;
}

.propertiesContainer {
  display: flex;
  flex-direction: column;
  padding: 0.1em;
  margin-left: 2em;
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 1px solid lightgrey;


  /* border: 1px solid grey; */
}



.editButton {

  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 5px;
}

.editButtonsGroup {
  display: inline-block;
  margin: 1em;
}

.collapseButton {
  /* width: 2em; */
  /* height: 2em; */
  /* margin: 5px; */
  border: 0px solid grey;
  background-color: inherit;
  /* color: red; */
}
