.container {
  display: flex;
  flex-direction: row;
  /* padding: 3px; */
}

.group {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 5px;
}

button {
  margin: 0px;
}


.standout {
  font-weight: bold;
  border: 2px solid black;

}
