.nodeFrame {
  border: thin solid grey;
  margin: 5px;
  padding: 5px;
  display: flex;
}

.nodeControlButton{
  color:grey;
  width: 2em;
  height: 2em;
  /* background-color: white; */
  border: thin solid grey;
}

.nodeHeader{
  align-self: flex-start;
  margin-right: 10px;
}

.nodeHeader > input[type='checkbox']{
  margin-right: 10px;
}

.childrenFrame{
  margin-left: 50px;
}
